.app {
  position: absolute;
}

.tileBoard {
  border: black 5px solid;
}

.buttons {
  position: relative;
  color: white;
}

.startButton {
  background-color: rgb(64, 235, 22);
}

.stopButton {
  background-color: rgb(235, 22, 22);
}

.resetButton {
  background-color: rgb(235, 214, 22);
}

.borderTile {
  fill: rgb(0, 0, 0);
  stroke: rgb(0, 0, 0);
}

.noLifeTile {
  fill: rgb(255, 255, 255);
  display: none;
}
